<%console.log(currentUser) %>

<br>

<h2 class="center whiteText">
    Following
</h2>

<br>

<div class="">

    <form action="/users/<%=currentUser._id%>/addFollow?_method=PUT" method="POST">
        <div class="row">
            <div class="col col-lg-4 col-md-4 col-sm-4 col-4 ">

                <div class="row">

                    <div class="col whiteText col-lg-12 col-md-12 col-sm-12 col-12">
                        Follow New User:
                    </div>
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-4">
                        <input type="text" name="userName" id="userName" class="form-control " placeholder="UserName" required>
                    </div>
                    <div class="col col-lg-4 col-md-4 col-sm-4 col-4">
                        <input type="text" name="userID" id="userID" class="form-control " placeholder="#12345" required>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Follow">

                </div>

            </div>
        </div>
    </form>


</div>



<br>

<table class="table whiteText">

    <% currentUser.following.forEach(friend=> { %>


        <div class="container-fluid d-flex">
            <div class="whiteText">
                
                    <div>
                        UserName: <%= friend.userName %>
                    </div>
                    <div>
                        UserID: <%= friend.userID %>
                    </div>
                
            </div>

        </div>

        <br>


        <% }) %>

        
</table>