<br>
<h2 class="table whiteText">
    Your Posts
</h2>

<table class="table whiteText">
    <thead>
        <tr>
            <th>Posted By ID:</th>
            <th>Date</th>
            <th>Content</th>
        </tr>
</table>