<br>
<h2 class="center whiteText">
    Your Projects
</h2>

<table class="table whiteText">
    <thead>
        <tr>
            <th>Author:</th>
            <th>Title:</th>
            <th>Date Created:</th>
            <th>Last Modified:</th>
            <th>Files:</th>
        </tr>
</table>